/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Nav Bar */
  header{
    width: 100%;
  }

  header ul li{
    display: inline-block;
    padding: 20px;
    font-size: 1.1em;
    transition: .1s;
  }
}

  /* Showcase */
  .showCase-container{
    background: url("/img/showcase1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    text-align: center;
  }

  .showCase-description{
    color: #fff;
    font-weight: 700;
    font-size: 3.2em;
    text-align: center;
    padding-top: 200px;
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8);
    letter-spacing: 3px;
  }

  /* About */
  #aboutMe{
    text-align: center;
    margin: 80px 0px;
  }

  #aboutMe h1{
    padding: 25px;
    font-size: 2.2em;
  }

  #aboutMe p{
    width: 70%;
    margin: 0px auto;
    font-size: 1.2em;
    font-style: italic;
  }

  /* Menu Container */
  #menu-container{
    text-align: center;
  }

  #menu-container h2{
    font-size: 2.2em;
    padding: 15px;
  }

  #menu-container p{
    font-size: 1.2em;
  }

  .menu-item{
    width: 25%;
    margin: 1.50%;
    display: inline-block;
  }

  .menu-item img{
    width: 225px;
    height: 150px;
    transition: .3s;
  }

  .menu-title p{
    padding: 10px 0px;
    font-size: 1.4em;
    font-weight: 600;
  }

  .menu-description p{
    font-style: italic;
    width: 100%;
    margin: 0 auto;
    color: #CD853F;
    font-weight: 600;
  }

  /* Address */

  /* Instagram */
  .gallery-container{
    width: 90%;
    margin: 2% auto;
    text-align: center;
  }

  #gallery-instagram h4{
    text-align: center;
    font-size: 2.2em;
    padding: 15px;
  }

  .gallery-container img{
    width: 275px;
    height: 200px;
    padding: 5px;
  }


  /* Feedback */
  .contactUs-description p{
    font-size: 1.1em;
    font-style: italic;
  }

  /* Footer */
  .copyright{
    padding-bottom: 15px;
  }

  .copyright p{
    font-size: 12px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Nav Bar */

  /* Showcase */
  .showCase-container{
    background: url("/img/showcase1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 700px;
    text-align: center;
  }

  /* About */
  #aboutMe{
    text-align: center;
    margin: 80px 0px;
  }

  #aboutMe h1{
    padding: 25px;
    font-size: 2.2em;
  }

  #aboutMe p{
    width: 60%;
    margin: 0px auto;
    font-style: italic;
    font-size: 1.5em;
  }

  /* Menu Container */

  /* Address */

  /* Instagram */

  /* Feedback */

  /* Footer */
  .copyright{
    padding-bottom: 10px;
  }

  .copyright p{
    font-size: 15px;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width: 1504px)
and (max-width: 2559px) {
  /* Nav Bar */
  header ul li{
    display: inline-block;
    padding: 25px;
    font-size: 1.2em;
    transition: .2s;
  }

  header ul li:hover{
    font-weight: 600;
    border-bottom: 2px solid #989898;
  }

  header ul li a{
    text-decoration: none;
    color: inherit;
  }

   header nav ul{
    text-align: center;
    text-transform: uppercase;
  }

  #header-logo img{
    vertical-align: middle;
    width: 150px;
    height: 150px;
  }

  #header-logo img:hover{
    background-color: none;
  }


  /* Showcase */
  .showCase-container{
    background: url("/img/showcase1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 650px;
    text-align: center;
  }

  .showCase-description{
    color: #fff;
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
    padding-top: 200px;
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8);
    letter-spacing: 3px;
  }

  .menu-button{
    margin-top: 40px;
    padding: 25px;
  }

  .menu-button button{
    padding: 20px;
    text-transform: uppercase;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    background-color: #b0b0b0;
    transition: all .3s;
    opacity: .8;
  }

  .menu-button button:hover{
    color: #fff;
    font-weight: 600;
    background-color: dodgerblue;
    cursor: pointer;
    transform: scale(1.06);
    opacity: 1;
  }


  /* About */
  #aboutMe{
    text-align: center;
    margin: 100px 0px;
  }

  #aboutMe h1{
    padding: 25px;
    font-size: 2.2em;
  }

  #aboutMe p{
    width: 50%;
    margin: 0px auto;
    font-size: 1.5em;
    font-style: italic;
  }

  /* Menu Container */
  #menu-container{
    text-align: center;
  }

  #menu-container h2{
    font-size: 2.2em;
    padding: 15px;
  }

  #menu-container p{
    font-size: 1.2em;
  }

  .menu-item{
    width: 25%;
    margin: 1.50%;
    display: inline-block;
  }

  .menu-item img{
    width: 325px;
    height: 250px;
    transition: .3s;
  }

  .menu-item img:hover{
    transform: scale(1.05);
    cursor: pointer;
  }

  .menu-title p{
    padding: 10px 0px;
    font-size: 1.3em;
    font-weight: 600;
  }

  .menu-description p{
    font-style: italic;
    width: 70%;
    margin: 0 auto;
    color: #CD853F;
    font-weight: 600;
  }

  /* Address */
  .location-container{
    background-image: url("/img/hoursshowcase.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    min-height: 600px;
    width: 72%;
    margin: 100px auto;
  }

  .location-container h3{
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 125px;
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8);
    letter-spacing: 3px;
  }


  .location-shop{
    color: #fff;
    font-weight: 700;
    font-size: 2.0rem;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8);
    letter-spacing: 3px;
  }

  #hours{
    padding-top: 10px;
  }

  /* Instagram */
  .gallery-container{
    width: 60%;
    margin: 1% auto;
    text-align: center;
  }

  #gallery-instagram h4{
    text-align: center;
    font-size: 2.2em;
    padding: 15px;
  }

  .gallery-container img{
    width: 275px;
    height: 200px;
    padding: 5px;
  }


  /* Feedback */
  #contactUs{
      margin: 75px 0px;
  }
  .contactUs-description{
    text-align: center;

  }

  #form-title{
    font-size: 2.5em;
    padding: 15px;
  }

  .contactUs-description p{
    font-size: 1.3em;
    font-style: italic;
  }

  form{
    width: 70%;
    max-width: 600px;
    padding: 20px;
    margin: 50px auto; /*Auto is whats making it centered */
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5)
  }

  label{
    display: block; /*block breaks up the elements */
    padding: 15px 0px;
  }

  input, textarea{  /*change the size of the input areas and textarea */
    width: 96%;
    padding: 10px;
    border: 1px solid transparent;
    background-color: #ececec;
    outline: none;
    transition: all 0.5s;
  }

  input:focus, textarea:focus{
    border: 2px solid #CD853F;
    background-color: #fff;
  }


  button{
    padding: 15px 15px;
    margin: 20px 0px;
    border: none;
    background-color: #CD853F;
    color: #fff;
    cursor: pointer;
    transition: background-color .5s;
    text-transform: uppercase;
  }

  button:hover{
    background-color: #3AC7F2;
    cursor: pointer;
    font-weight: 600;
  }

  textarea{
    min-height: 100px;
    max-height: 300px;
    resize: vertical;
  }

  form label{
    display: block;
  }


  /* Footer */
  footer{
    background-color: #d3d3d3;
  }

  .container-footer{
    margin: 50px 0px;
    padding-top: 75px;
    display: flex;
    justify-content: center;
  }

  .footer-info{
    padding: 0px 75px;
    font-size: 1.1em;
  }

  .footer-info li{
    padding: 5px;
  }

  footer a{
      display: block;
      text-decoration: none;
      color: inherit;
      transition: .2s;
  }

  footer a:hover{
    color: #3AC7F2;
    font-weight: 600;
    transform: scale(1.1);
  }

  footer p{
      padding: 5px 0px;
  }

  footer h6{
      font-size: 1.4em;
      padding-bottom: 10px;
  }

  footer .info{
      margin: 100px 0px;
  }

  .footer-info i{
    padding-right: 10px;
  }

  footer .copyright{
      text-align: center;
  }

  footer ul{
    list-style-type: none;
  }

  .copyright{
    padding-bottom: 15px;
  }

  .copyright p{
    font-size: 15px;
  }
}


/* Large screens ----------- */
@media only screen
and (min-width : 2160px) {
  /* Nav Bar */
  header ul li{
    display: inline-block;
    padding: 25px;
    font-size: 1.2em;
    transition: .2s;
  }

  header ul li:hover{
    font-weight: 600;
    border-bottom: 2px solid #989898;
  }

  header ul li a{
    text-decoration: none;
    color: inherit;
  }

   header nav ul{
    text-align: center;
    text-transform: uppercase;
  }

  #header-logo img{
    vertical-align: middle;
    width: 150px;
    height: 150px;
  }

  #header-logo img:hover{
    background-color: #fff;
  }


  /* Showcase */
  .showCase-container{
    background: url("/img/showcase1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 750px;
    text-align: center;
  }

  .showCase-description{
    color: #fff;
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
    padding-top: 250px;
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8);
    letter-spacing: 3px;
  }

  .menu-button{
    margin-top: 40px;
    padding: 25px;
  }

  .menu-button button{
    padding: 20px;
    text-transform: uppercase;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    background-color: #b0b0b0;
    transition: all .3s;
    opacity: .8;
  }

  .menu-button button:hover{
    color: #fff;
    font-weight: 600;
    background-color: dodgerblue;
    cursor: pointer;
    transform: scale(1.06);
    opacity: 1;
  }


  /* About */
  #aboutMe{
    text-align: center;
    margin: 50px 0px;
  }

  #aboutMe h1{
    padding: 25px;
    font-size: 2.2em;
  }

  #aboutMe p{
    width: 50%;
    margin: 0px auto;
    font-size: 1.8em;
    font-style: italic;
  }

  /* Menu Container */
  #menu-container{
    text-align: center;
  }

  #menu-container h2{
    font-size: 2.2em;
    padding: 15px;
  }

  #menu-container p{
    font-size: 1.2em;
  }

  .menu-item{
    width: 25%;
    margin: 1.50%;
    display: inline-block;
  }

  .menu-item img{
    width: 325px;
    height: 250px;
    transition: .3s;
  }

  .menu-item img:hover{
    transform: scale(1.05);
    cursor: pointer;
  }

  .menu-title p{
    padding: 10px 0px;
    font-size: 1.3em;
    font-weight: 600;
  }

  .menu-description p{
    font-style: italic;
    width: 70%;
    margin: 0 auto;
    color: #CD853F;
    font-weight: 600;
  }

  /* Address */
  .location-container{
    background-image: url("/img/hoursshowcase.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    min-height: 600px;
    width: 72%;
    margin: 100px auto;
  }

  .location-container h3{
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 125px;
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8);
    letter-spacing: 3px;
  }


  .location-shop{
    color: #fff;
    font-weight: 700;
    font-size: 2.0rem;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8);
    letter-spacing: 3px;
  }

  #hours{
    padding-top: 10px;
  }

  /* Instagram */
  .gallery-container{
    width: 60%;
    margin: 1% auto;
    text-align: center;
  }

  #gallery-instagram h4{
    text-align: center;
    font-size: 2.2em;
    padding: 15px;
  }

  .gallery-container img{
    width: 375px;
    height: 300px;
    padding: 5px;
  }


  /* Feedback */
  #contactUs{
      margin: 75px 0px;
  }
  .contactUs-description{
    text-align: center;

  }

  #form-title{
    font-size: 2.5em;
    padding: 15px;
  }

  .contactUs-description p{
    font-size: 1.3em;
    font-style: italic;
  }

  form{
    width: 70%;
    max-width: 600px;
    padding: 20px;
    margin: 50px auto; /*Auto is whats making it centered */
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5)
  }

  label{
    display: block; /*block breaks up the elements */
    padding: 15px 0px;
  }

  input, textarea{  /*change the size of the input areas and textarea */
    width: 96%;
    padding: 10px;
    border: 1px solid transparent;
    background-color: #ececec;
    outline: none;
    transition: all 0.5s;
  }

  input:focus, textarea:focus{
    border: 2px solid #CD853F;
    background-color: #fff;
  }


  button{
    padding: 15px 15px;
    margin: 20px 0px;
    border: none;
    background-color: #CD853F;
    color: #fff;
    cursor: pointer;
    transition: background-color .5s;
    text-transform: uppercase;
  }

  button:hover{
    background-color: #3AC7F2;
    cursor: pointer;
    font-weight: 600;
  }

  textarea{
    min-height: 100px;
    max-height: 300px;
    resize: vertical;
  }

  form label{
    display: block;
  }


  /* Footer */
  footer{
    background-color: #d3d3d3;
  }

  .container-footer{
    margin: 50px 0px;
    padding-top: 75px;
    display: flex;
    justify-content: center;
  }

  .footer-info{
    padding: 0px 75px;
    font-size: 1.1em;
  }

  .footer-info li{
    padding: 5px;
  }

  footer a{
      display: block;
      text-decoration: none;
      color: inherit;
      transition: .2s;
  }

  footer a:hover{
    color: #3AC7F2;
    font-weight: 600;
    transform: scale(1.1);
  }

  footer p{
      padding: 5px 0px;
  }

  footer h6{
      font-size: 1.4em;
      padding-bottom: 10px;
  }

  footer .info{
      margin: 100px 0px;
  }

  .footer-info i{
    padding-right: 10px;
  }

  footer .copyright{
      text-align: center;
  }

  footer ul{
    list-style-type: none;
  }

  .copyright{
    padding-bottom: 10px;
  }
}
